/**Style Sheet Begins**/
html, body {
	width: 100%;
	background-color: #000;
	padding: 0;
	margin: 0;
	font-family: arial;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

::-webkit-scrollbar {
	width: 10px;
} /* this targets the default scrollbar (compulsory) */
	
::-webkit-scrollbar-track {
	background-color: #c5c5c5;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */

#wrapper {
	width: 1024px;
	height: 768px;
	padding: 0; 
	margin: 0 auto;
	background-color: white;
}

#wrapper .clear {
	width: 1024px;
	height: 1px;
	clear: both;
}

ul, li , h1, h2, h3, h4, p, a {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}


/**@fontface**/

@font-face {
    font-family: 'HelveticaNeueLTStd55Roman';
    src: url('../fonts/helveticaneueltstd-roman.eot');
    src: url('../fonts/helveticaneueltstd-roman.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-roman.woff') format('woff'),
         url('../fonts/helveticaneueltstd-roman.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-roman.svg#HelveticaNeueLTStd55Roman') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTPro85Heavy';
    src: url('../fonts/helveticaneueltpro-hv.eot');
    src: url('../fonts/helveticaneueltpro-hv.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-hv.woff') format('woff'),
         url('../fonts/helveticaneueltpro-hv.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-hv.svg#HelveticaNeueLTPro85Heavy') format('svg');
}

@font-face { 
 font-family: 'bebasneue-webfont';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.eot.svg#bebasneue-webfont') format('svg'); }

@font-face { 
 font-family: 'archivoblack-regular-webfont';
    src: url('../fonts/archivoblack-regular-webfont.eot');
    src: url('../fonts/archivoblack-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/archivoblack-regular-webfont.woff') format('woff'),
         url('../fonts/archivoblack-regular-webfont.ttf') format('truetype'),
         url('../fonts/archivoblack-regular-webfont.eot.svg#archivoblack-regular-webfont') format('svg'); }

@font-face { 
 font-family: 'bebas___-webfont';
    src: url('../fonts/bebas___-webfont.eot');
    src: url('../fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas___-webfont.woff') format('woff'),
         url('../fonts/bebas___-webfont.ttf') format('truetype'),
         url('../fonts/bebas___-webfont.eot.svg#bebas___-webfont') format('svg'); }

/**top**/

#top {
	width: 1024px;
	margin: 0;
	padding: 0;
}

#top.logo, #top .logo a, #top .logo img {
	padding: 0;
	margin: 0;
	width: 200px;
	float: left;
	height: 72px;
	text-decoration: none;
	background-repeat: repeat-y;
	background-image: url(../images/sidebar_bg.png);
}

#top .logo a:hover  {
	opacity: .5;
}

#topbar {
	width: 824px;
	float: right;
	padding: 15px 0 14px 0;
	margin: 0;
	border-bottom: 1px dashed #ccc;
}

#topbar h1{
	margin: 0 0 0 25px;
	padding: 0;
	color: #6b6b6b;
	float: left;
	font: normal 26px bebas___-webfont;
	letter-spacing: 2px;
}
#topbar ul{
	margin: 5px 10px 0 0; 
	float: right;
}

#topbar  li{
	display: inline-block;
}

#topbar .icon:hover{
	opacity: .75;
}

#topbar button{
	display: block;
	float: right;
	width: 144px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.55);
	padding: 10px 0 10px 0;
	margin: 0 10px 0 0;
	font-weight: bold;
	color: #464646;
	border: 1px solid #b8b8b8;
	-moz-box-shadow: inset 0px -2px 0px #939393;
    -webkit-box-shadow: inset 0px -2px 0px #939393;
    box-shadow: inset 0px -2px 0px #939393;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px; 
	-khtml-border-radius: 3px 3px 3px 3px; 
	background: #efefef; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNjYmNiY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #efefef 10%, #cbcbcb 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#efefef), color-stop(80%,#cbcbcb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 10%,#cbcbcb 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-8 */
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
}

#topbar button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 10%, #ff7f04 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ffb76b), color-stop(80%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 10%,#ff7f04 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
}

/**Sidebar**/

#sidebar {
	float: left;
	width: 200px;
	height: 700px;
	padding: 0;
	margin: 0;
	background-repeat: repeat-y;
	background-image: url(../images/sidebar_bg.png);
}

#sidebar .clear{
	clear: both;
	width: 200px;
	height: 1px;
}

#member {
	border-top: 1px solid #ababab;
	padding: 9px 0 9px 10px;
	margin: 0;
	background-repeat: repeat-y;
	background-image: url(../images/case_bg.gif);
}

#member .account-pic img{
	width: 35px;
	height: 35px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#member .account-pic{
	float: left;
	margin: 0 5px 0 0;
}

#member .account-name {
	color: #0c4f66;
	text-shadow: 0px 2px 0px rgba(212, 239, 255, 0.55);
	margin: 2px 0 2px 0;
	word-spacing: 2px;
	font: normal 12px bebas___-webfont;
}

#member ul {
	color: #fff;
	font: normal 14px arial;
	text-transform: uppercase;
}

/**Info Boxes**/

#info {
	padding: 10px 0 10px 29px;
	margin: 0;
	color: #555555;
	font: normal 11px arial;
	background: #f6f6f6 url(../images/shadow.png) right repeat-y;
	border-top: 1px dashed #b8b8b8;
	border-bottom: 1px solid #ababab;
}

#info h3{
	width: 150px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
}

#info ul{
	margin: 15px 0 0 0;
	padding: 0;
}

#info li{
	margin: 12px 0 12px 0;
	width: 150px;
	height: 18px;
	padding: 0;
}

#info sup {
	margin: 0;
	padding: 1px 5px 1px 5px;
	width: 15px;
	height: 15px;
	font-size: 11px;
	color: white;
	text-align: center;
	background-color: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px; 
	-khtml-border-radius: 50px;
	border: 1px solid #b40e14;
}

#info a{
	font: normal 14px bebasneue-webfont;
	color: #555555;
}

#info a:hover{
	color: orange;
}

ul .updates {
	background: transparent url(../images/notify.png) right center no-repeat;
}

ul .users {
	background: transparent url(../images/user.png) right center no-repeat;
}

ul .settings {
	background: transparent url(../images/settings.png) right center no-repeat;
}


/** sidebar menu**/

#side_bar_menu {
	width: 190px;
	padding: 0;
	margin: 0 0 0 10px;
	font-family: bebasneue-webfont;
	letter-spacing: 2px;
}

#side_bar_menu .accordionButton{
	background: transparent;
	cursor: pointer !important;
	padding: 14px 0 14px 19px;
	margin-bottom: 1px;
	display: block;	
	font-size: 15px; 
	color: #787878;
	cursor: default;
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.55);
}

/*
#side_bar_menu .accordionButton:hover{
	background: white url(../images/dot.gif) left no-repeat;
	-moz-box-shadow: -5px 3px 11px 0px #ccc;
    -webkit-box-shadow: -5px 3px 11px 0px #ccc;
    box-shadow: -5px 3px 11px 0px #ccc;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	 -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
}
*/
#side_bar_menu .super-active{
	background: white url(../images/dot.gif) left no-repeat;
	-moz-box-shadow: -5px 3px 11px 0px #ccc;
    -webkit-box-shadow: -5px 3px 11px 0px #ccc;
    box-shadow: -5px 3px 11px 0px #ccc;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	 -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
}

#side_bar_menu .accordionContent{
	width: 190px;
	margin: 0;
	padding: 17px 0 17px 0;
	border-bottom: 1px solid #b8b8b8;
	background: #f4f4f4;
    -moz-box-shadow: inset 0 0 16px #ccc;
    -webkit-box-shadow: inset 0 0 16px #ccc;
    box-shadow: inset 0 0 16px #ccc;
}

#side_bar_menu .accordionContent button{
	display: block;
	width: 144px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.55);
	margin: 0 auto;
	padding: 10px 0 10px 0;
	font-weight: bold;
	color: #464646;
	border: 1px solid #b8b8b8;
	-moz-box-shadow: inset 0px -2px 0px #939393;
    -webkit-box-shadow: inset 0px -2px 0px #939393;
    box-shadow: inset 0px -2px 0px #939393;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px; 
	-khtml-border-radius: 3px 3px 3px 3px; 
	background: #efefef; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NyUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNjYmNiY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #efefef 10%, #cbcbcb 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#efefef), color-stop(80%,#cbcbcb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 10%,#cbcbcb 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 10%,#cbcbcb 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-8 */
	-webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -ms-transition:0.2s ease;
    -o-transition:0.2s ease;
    transition:0.2s ease;
}

#side_bar_menu .accordionContent button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 10%, #ff7f04 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ffb76b), color-stop(80%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 10%,#ff7f04 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
	 -webkit-transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    transition-duration:0.5s;
}

/**filter**/
#filter-search {
	color: #787878;
	margin: 0 0 10px 25px;
	padding: 0;
	height: 25px;
	float: left;
}

#filter-search li {
	display: inline-block;
	font: Bold 14px arial;
	text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.55);
}

#filter-search img{
	margin: 0 5px 0 5px;
	padding: 0;
	vertical-align: middle;
}

#filter-search .select { 
	padding: 4px 0 4px 3px;
	margin: 0 10px 0 0;
	width: 120px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background: #fff url(../images/select-field-button.png) no-repeat right; 
}

/**text-search**/
#text-search {
	color: #787878;
	margin: 0;
	padding: 0;
	height: 25px;
}

#text-search  input[type="text"] {
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#text-search  .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 200px;
	height: 25px;
}

#text-search .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#text-search  button {
	padding: 0;
	margin: 0 0 0 2px;
	width: 67px;
	height: 25px;
	font: bold 12px arial;
	outline: none;
	color: #fff;
	border: 1px solid #555555;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background-color: #7d7d7d;
}

#text-search button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 20%, #ff7f04 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffb76b), color-stop(90%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 20%,#ff7f04 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}




/**Main Area**/
#main_wrapper {
	clear:both;
	padding: 0;
	margin: 0;
	width: inherit;
} 

#content {
	width: 824px;
	float:right;
	margin: 0;
	padding: 0;
}

.data {
	width: 804px;
	height: 600px;
	margin: 0 0 0 7px;
	padding: 0;
	overflow-x: hidden;
}

.clear {
	clear: both; 
	width:400px; 
	height: 1px;
	margin: 0;
	padding: 0;
}

#content .content-header{
	margin: 0 0 0 7px;
	padding: 0;
	width: 804px; 
	height: 35px;
}

.line {
	margin: 25px 0 25px 0;
	clear: both;
	width: 760px;
	height: 1px;
	overflow: hidden;
	background-color: #a5a5a5;
}

/**table**/
table {
	width: auto;
	margin: 0 2% 0 2%;
	border-collapse:collapse;
	font: normal 12px arial;  
}

tr {
	padding: 0;
	margin: 0;
}

td {
	border: 1px dashed #8ccce4;
	padding: 10px 5px 10px 10px;
	background-color: #f6f6f6;
}

th {
	border: 1px solid #8ccce4;
	margin: 0;
	padding: 5px 0 5px 0;
	font: bold 14px Arial;
	color: #fff;
	text-shadow: 0px 2px 0px rgba(120, 120, 120, 0.55);
	line-height: 12px;
	background-color: #0199d2;
}


/*form*/
#form {
	margin: 0 0 0 20px;
	padding: 0;
}

#form span {
	color: red;
}

#form .clear {
	clear: both; 
	width:400px; 
	height: 15px;
	margin: 0;
	padding: 0;
}

#form input[type="text"], #form input[type="password"] {
	font: italic 12px arial;
	outline: none;
	color: #464646;
	/*border: 1px solid #cccccc;*/
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form input[type="radio"], #form input[type="checkbox"], 
#plan input[type="radio"], #plan input[type="checkbox"]{
	color: #464646;
	font: normal 14px arial;
	margin: 0 2px 0 0;
	padding: 0;
}

#form .radio{
	padding: 0;
	margin: 0;
	vertical-align: bottom;
}

#form .radio li{
	display: inline-block;
	font: normal 12px arial;
	color: #464646;
	padding: 0;
	margin: 0;
}

#form .radio li:first-child {margin-right:7px;}
#form .radio li:nth-child(2) {margin-right: 30px;}
#form .radio li:last-child {margin:0;}

#form p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	width: 170px;
	height: 25px;
	float: left;
	padding-top: 4px;
	margin: 0;
}

#form h4{
	font-family: HelveticaNeueLTStd55Roman;
	margin: 0 0 15px 0;
}

#form .select { 
	padding: 4px 0 4px 3px;
	margin: 0;
	width: 285px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background: url(../images/select-field-button.png) no-repeat right; 
}

#form .select:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 280px;
	height: 25px;
}

#form .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form .checkboxes {
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

#form .textbox02 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 152px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form .textbox02:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form .textbox03 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 108px;
	height: 22px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form .textbox03:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form button {
	padding: 2px 8px 2px 8px;
	margin: 0 0 0 2px;
	height: 25px;
	font: bold 12px arial;
	outline: none;
	color: #fff;
	border: 1px solid #555555;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background-color: #7d7d7d;
}

#form button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 20%, #ff7f04 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffb76b), color-stop(90%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 20%,#ff7f04 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}

/*form02*/
#form02 {
	margin: 0;
	padding: 0;
}

#form02 input[type="file"] {
	padding: 0 0 0 3px;
	margin: 0;
	width: 189px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	width: 170px;
	height: 25px;
	float: left;
	padding-top: 4px;
	margin: 0;
}

#form02 .select { 
	padding: 4px 0 4px 3px;
	margin: 0;
	width: 80px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background: url(../images/select-field-button.png) no-repeat right; 
}

#form02 .select:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form02 .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 196px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form02 img{
	margin: 0;
	padding: 0;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 ul{
	margin: 0;
	float: left;
}

#form02 li {
	display: block;
	float: left;
	padding: 0;
	margin: 0 2px 0 2px;
}

#form02 .textbox02 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 189px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 .textbox02:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form02 .textbox03 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 120px;
	height: 22px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form02 .textbox03:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form02 button {
	padding: 0;
	margin: 0;
	width: 67px;
	height: 25px;
	font: bold 12px arial;
	outline: none;
	color: #fff;
	border: 1px solid #555555;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background-color: #7d7d7d;
}

#form02 button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 20%, #ff7f04 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffb76b), color-stop(90%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 20%,#ff7f04 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}

/*address*/
#form_address {
	margin: 0;
	padding: 0;
}

#form_address p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	width: 170px;
	height: 25px;
	float: left;
	padding-top: 4px;
	margin: 0;
}

#form_address .select { 
	width: 80px;
	height: 27px;
	padding-left: 3px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	margin-top:10px;
	-webkit-appearance: none;
	background:transparent;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background: url(../images/select-field-button.png) no-repeat right; 
}

#form_address .select:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_address .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 280px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_address .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_address .textbox02 {
	padding: 0 0 0 3px;
	margin: 10px 0 0 0;
	width: 280px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_address .textbox02:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_address li {
	display: inline;
	padding: 0;
	margin: 0;
}

#form_address ul {
	margin-left: 170px;
	padding: 0px;
}

#form_address .textbox03 {
	padding: 0 0 0 3px;
	margin: 10px 0 0 0;
	width: 93px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_address .textbox03:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

/*form contact info*/

#form_contact {
	margin: 0;
	padding: 0;
}

#form_contact p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	width: 170px;
	height: 25px;
	padding-top: 4px;
	margin: 0;
	float: left;
}

#form_contact ul{
	margin-left: 109px;
	clear: both;
}

#form_contact li {
	display: inline;
	padding: 0;
	margin: -1px;
}

#form_contact .select {
	width: 60px;
	height: 25px;
	line-height: 25px;
	font: normal 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: none;
	background: url(../images/arrow.png) no-repeat right center; 
}

#form_contact .select:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact .select02 { 
	padding: 0;
	margin: 0;
	width: 60px;
	font: normal 12px arial;
	outline: none;
	color: #464646;
	-webkit-appearance: none;
	background:transparent;
	border: none;
	background: url(../images/arrow.png) no-repeat right; 
}

#form_contact .select02:focus { 
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}


#form_contact .textbox {
	padding: 0 0 0 3px;
	margin: 0;
	width: 280px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_contact .textbox:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact .textbox02 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 178px;
	height: 25px;
	font: italic 14px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_contact .textbox02:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact .textbox03 {
	padding: 0 0 0 3px;
	margin: 0;
	width: 95px;
	height: 25px;
	font: italic 12px arial;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#form_contact .textbox03:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#form_contact button {
	padding: 0;
	margin: 0;
	width: 100px;
	height: 25px;
	font: bold 12px arial;
	outline: none;
	color: #fff;
	border: 1px solid #555555;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background-color: #7d7d7d;
}

#form_contact button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 20%, #ff7f04 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffb76b), color-stop(90%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 20%,#ff7f04 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}

/**plan**/
#plan {
	margin: 0;
	padding: 0;
	font: normal 12px arial;
	color: #464646;
}

#plan sub {
	font-size: 9px;
	margin: 0;
	padding: 0;
}

#plan .money p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	padding: 0;
	margin: 0;
	float: none;
}

#plan .money{
	float: left;
	padding: 0;
	margin: 0;
	color: #464646;
	font: normal 14px arial;
}

#plan .money li{
	padding: 0;
	display: inline-block;
	line-height: 43px;
	width: 120px;
}

#plan .money input[type="radio"]{
	margin: 0 5px 7px 0;
	vertical-align: center;
}

#plan .cases-used p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	padding: 0;
	margin: 0;
}

#plan .cases-used{
	float: left;
	width: 140px;
	padding: 0;
	margin: 0;
	color: #464646;
	font: normal 14px arial;
}

#plan .cases-used li{
	padding: 0;
	margin: 0;
	line-height: 43px;
}

#plan .cases-available p{
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	padding: 0;
	margin: 0 0 10px 0;
}

#plan .cases-available{
	float: left;
	padding: 0;
	margin: 0;
	color: #464646;
	font: normal 12px arial;
}

#plan .cases-available li{
	padding: 0;
	display: block;
	padding: 0;
	margin: 15px 0 0 0;
}

#plan .cases-available input[type="text"]{
	font: italic 12px arial;
	padding: 0 0 0 3px;
	margin: 0 5px 0 0;
	width: 197px;
	height: 25px;
	outline: none;
	color: #464646;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}

#plan .cases-available input:focus {
	-moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

#plan .cases-available button {
	padding: 0;
	margin: 0;
	width: 130px;
	height: 25px;
	font: bold 12px arial;
	outline: none;
	color: #fff;
	border: 1px solid #555555;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
	background-color: #7d7d7d;
}

#plan .cases-available button:hover{
	color: white;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 20%, #ff7f04 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffb76b), color-stop(90%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 20%,#ff7f04 90%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 20%,#ff7f04 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}

#plan .auto-renew p{
	float: none;
	color: #0072bc;
	font: normal 14px HelveticaNeueLTStd55Roman;
	padding: 0;
	margin: 0;
}

#plan .auto-renew{
	padding: 0;
	margin: 0;
	color: #464646;
	font: normal 12px arial;
}

#plan .auto-renew li{
	display: inline;
	padding: 0;
	margin: 0;
}

#plan .auto-renew li:first-child {margin:0; padding: 0;}
#plan .auto-renew li:nth-child(2){margin-right:15px;}
#plan .auto-renew li:nth-child(3){margin-right:15px;}
#plan .auto-renew li:last-child {margin:0;}

/**save button**/
#big_save{
	width: 804px;
	color: white;
	margin: 10px 0 0 7px;
	padding: 5px 0 5px 0;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px; 
	-khtml-border-radius: 3px 3px 3px 3px; 
	background: #005b96;
	border: 1px solid #0f3459;
	cursor: default;
	text-shadow: 0px 2px 0px rgba(70, 70, 70, 0.55);
}

#big_save ul{
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
	font: normal 20px bebasneue-webfont;
}

#big_save li{
	display: inline-block;
	padding: 0;
	margin: 0;
}


#big_save img{
	margin: 0 5px 0 0;
}

#big_save:hover{ 
	border: 1px solid #ff5400;
	background: #ffb76b; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffb76b 48%, #ff7f04 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ffb76b), color-stop(80%,#ff7f04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffb76b 10%,#ff7f04 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffb76b 10%,#ff7f04 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-8 */
}

#pagination {
	font-size: 11px;
	float: right;
	margin: 50px 10px 10px 10px;
}

#pagination li{
	display: inline-block;
	text-align: center;
	padding: 4px;
}

#pagination li:hover{
	cursor: default;
	color: #fff;
	text-decoration: underline;
	background-color: orange;
}

#pagination .active {
	color: #fff;
	text-decoration: underline;
	background-color: #3ac9ff;
}

#pagination .active:hover {
	color: #fff;
	text-decoration: underline;
	background-color: #3ac9ff;
}
